// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$HEADER_HIGHT: 56px;

// 共通色
$LINK_FONT_COLOR: #10e1ec;
$BACK_COLOR: #E3F2FD;

// 共通文字サイズ
$MAIN_FONT_SIZE: 16px;
$SUB_FONT_SIZE: 12px;
$SMALL_FONT_SIZE: 10px;

// 共通マージンサイズ
$MARGIN_SIZE_LARGE: 18px;
$MARGIN_SIZE_NORMAL: 16px;
$MARGIN_SIZE_SMALL: 12px;
$MARGIN_SIZE_MINI: 4px;
